@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.2em;
   color: #333;
   background: #ffff;


}

header {
    margin: 0 auto;
    width: 1000px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color:navy;
    text-align: center;
    }

form {
     width: 1000px;
     margin: 0 auto;
     padding: 1rem;
     border: 1px solid rgba(0, 0, 0, .1);
     border-radius: 0.5rem;
     background-color: #eee;
     display: grid;

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
}



legend {
    padding: .5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: 'Courier New', Courier, monospace;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
padding: .5rem;
font-size: 1.1rem;
}

/* input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom; */
/*  */
/* } */

button {
    margin: 1rem;
    background-color: navy;
    color: #ffff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;

}

footer {
    margin: 1rem auto;
    width: 1000px;
    text-align: center;
    font-size: .8em;
    color: #777;
    border-top: 1px solid #ccc;

}

.form-item {
    display: grid;
    align-items: center;

}

.column1 {
    grid-template-columns: 2fr 2fr;
    margin: .5rem 0;
}

